<h2>Контакты</h2>
<p>Отправьте нам сообщение и мы свяжемся с вами.</p>

<form action="/contacts" method="POST">
  <div class="mb-3">
    <label>Ваш email</label>
    <input name="email" type="text" class="form-control" placeholder="Введите имя">
  </div>
  <div class="mb-3">
    <label>Сообщение</label>
    <textarea name="message" type="text" class="form-control" placeholder="Введите сообщение"></textarea>
  </div>
  </br> 
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
<script type="text/javascript">
alert('Hello from visit page!');
</script>